@import "window.scss";
$sidebar-width: 200px;
$toolbar-height: 40px;
$info-height: 100px;
$button-color: #fce;
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.application-container {
    & > div {
        border: 1px solid #000;
    }
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "t t"
                         "s l"
                         "s i";
    grid-template-columns: $sidebar-width 1fr;
    grid-template-rows: $toolbar-height 1fr $info-height;
    #toolbar {
        grid-area: t;
        display: flex;
        overflow: hidden;
        .toolbar-button {
            cursor: pointer;
            width: $toolbar-height - 8px;
            height: $toolbar-height - 8px;
            line-height: $toolbar-height - 8px;
            margin: 4px;
            text-align: center;
            border: none;
            border-radius: $toolbar-height;
            &:hover {
                background-color: #DDD;
            }
        }
    }
    #sidebar {
        grid-area: s;
    }
    .table-container {
        grid-area: l;
        table {
            width: 100%;
            tbody {
                width: 100%;
                tr {
                    border: 1px solid firebrick;
                    td {
                        border: 1px solid cyan;
                        padding: 0;
                        width: 100px;
                        overflow: auto;
                        .column {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 2em;
                            width: auto;
                            height: 2em;
                            min-width: 50px;
                            padding: 0;
                            margin: 0;
                            display: block;
                        }
                        .column:not(.download-bar)
                        {
                            padding: 0 10px;
                        }
                        .download-bar {
                            display: grid;
                            grid-template-columns: 1fr;
                            div {
                                grid-column-start: 1;
                                grid-row-start: 1;
                            }
                            div:not(.inner-download-bar)
                            {
                                text-align: center;
                                color: transparent;
                                -webkit-background-clip: text;
                                background-clip: text;
                                background-color: hotpink;
                                mix-blend-mode: difference;
                            }
                            .inner-download-bar {
                                background: hotpink;
                                height: 2em;
                            }
                        }
                    }
                } 
            }
        }
    }
    .legend {
        td {
            resize: horizontal;
            padding: 10px;
        }
    }
    #torrent-list {
        .torrent {
            .column {
                resize: none;
            }
        }
    }
    #info-bar {
        grid-area: i;
    }
}
.window-add-torrent-input-area {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin: 0 10px;
}